<table class='category_table'>
  <tr>
    <th width='120px'></th>
    <th width='300px'></th>
    <th width='20px'></th>
  </tr>
  <%= render :partial => 'category', :collection => categories %>
</table>